.bigbox{
	min-width: 1235px;
}
.header1{
	width: 100%;
	background-color: #333333;
	.content{
		overflow: visible;
		ul{
			float: right;
			height: 27px;
			
			li{
				float: left;
				&:nth-child(2) a{
					color: #D9C398;
				}
				a{
					display: block;			
					height: 27px;
					text-align: center;
					color: #CCBEB8;
					padding: 6px 0px;
					&:nth-child(2){
						color: #D9C398;
					}
					&:hover{
						color: white;
					}
					span{
						display: block;		
						font-size: 12px;
						padding: 0 25px;
						box-sizing: border-box;
					}		
				}
				&:nth-child(2) span{
					border-right: 1px solid #4D5548;
				}
				&:nth-child(3) span{
					border-right: 1px solid #4D5548;
				}
				&:nth-child(6) span{
					border-right: 1px solid #4D5548;
				}
				&:nth-child(4):hover a{
					background-color: white;
					color: black;
				}
				&:nth-child(6):hover a{
					background-color: white;
					color: black;
					
				}
				&:nth-child(6):hover a span{
					border-right: 0 none;
				}
				&:nth-child(4){
					width: 99px;
					height: 27px;
					.erweima{	
						display: none;
						width: 220px;
						overflow: hidden;
						position: relative;
						z-index: 99;
						left: -121px;
						background-color: white;
						.img{
							position: relative;
							left: 40px;
							top: 25px;
							width: 130px;
							height: 130px;
							img{
								position: absolute;
								left: 0;
								top: 0;	
								width: 130px;
								height: 130px;
							}
							
						}
						.page{
							width: 220px;
							position: absolute;
							left: 0px;
							top: 175px;
							h4{
								float: left;
								width: 110px;
								height: 40px;
								display: inline-block;
								font-size: 13px;
								font-weight: normal;
								text-align: center;
								line-height: 40px;
								
							}
							h4.active{
								color: white;
								background-color: #2E2E2E;
							}
						}
					}
				}
				&:nth-child(6){
					width: 99px;
					height: 27px;
					.fuwu{
						display: none;
						width: 220px;
						height: 0;
						overflow: hidden;
						position: relative;
						z-index: 99;
						left: -121px;
						background-color: white;
						
						.zaixian{
							border-bottom: 1px solid #DDDDDD;
							width: 200px;
							position: relative;
							left: 10px;
							h4{
								width: 90px;
								height: 40px;
								text-align: center;
								display: inline-block;
								font-weight: normal;
								color: #AAAAAA;
								font-size: 12px;
								line-height: 40px;
								&:hover{
									color: black;
								}
							}
						}
						.tel{
							width: 200px;
							margin-top: 15px;
							h4{
								width: 200px;
								height: 40px;
								line-height: 40px;
								text-align: center;
								font-size: 12px;
								font-weight: normal;
								color: #AAAAAA;
							}
						}
					}
				}
				
			}
		}
	}
	

}

.header2{
	width: 100%;
	height: 126px;
	background-color: #FAFAFA;
	.logo{
		float: left;
		width: 124px;
		height: 67px;
		margin: 30px 0 29px 0;
		background: url(../img/base_new.png) 10px 0px no-repeat;
	}
	.gif{
		float: left;
		width: 208px;
		height: 82px;
		margin: 30px 0 14px 0;
	}
	.right{
		float: right;
		margin-top: 31px;
		from{
			float: left;
			position: relative;
			border: 2px solid #D9D9D9;
			i{
				display: inline-block;
				width: 19px;
				height: 17px;
				position: absolute;
				background: url(../img/base_new.png) -253px -9px;
				left: 6px;
				top: 10px;
			}
			#search{
				width: 240px;
				height: 37px;
				border: 0 none;
				padding-left: 30px;
			}
			#search_btn{
				width: 80px;
				height: 30px;
				border: 0 none;
				background-color: #B32424;
				color: white;
				margin: 5px;
				border-radius: 3px;
			}
			
		}
		.buycar{
			float: left;
			width: 180px;
			height: 44px;
			border: 2px solid #D9D9D9;
			margin: 0 34px 0 17px;
			color: #666666;
			line-height: 37px;
			text-align: center;
			position: relative;
			i{
				position:absolute;
				width: 25px;
				height: 25px;
				left: 15px;
				top:5px;
				background: url(../img/butcar.png);
			}
			span:last-of-type{
				display: inline-block;
				width: 25px;
				height: 25px;
				color: white;
				background-color: #B32424;
				border-radius: 40%;
				line-height: 25px;
				text-align: center;
			}
		}
		.hot_search{
			
			li{
				float: left;
				&:nth-child(1) a{
					padding-left: 0px;
				}	
				&:nth-child(2) a{
					border-right:2px solid #D9D9D9;
					border-left:2px solid #D9D9D9;
				}
				a{
					height: 25px;
					padding: 6px 15px;
					box-sizing: border-box;
					font-size: 12px;
					
					span{
						color: #999999;
					}
					&:hover span{
						color: black;
						border-bottom:1px solid black ;
					}
				}
				
				
			}
			
		}
	}
	
}

.nav{
	width: 100%;
	background-color: #FAFAFA;
	.content{
		overflow: visible;
		ul{
			li{
				float: left;
				height: 43px;
				line-height: 43px;
				box-sizing: border-box;
				
				&:hover a span{
					border-bottom:2px solid #B32424;
				}
				&:nth-child(1):hover a span{
					border-bottom:0 none;
				}
				&:nth-child(1) a{
					padding: 13px 66px 13px 84px;
					color: white;	
					background-color: #B32424;	
				}
				&:nth-child(1){
					position: relative;
					z-index: 99;
					ul{
						
						width: 202px;
						li{
							width: 100%;
							height: 85px;
							background-color: #2E2E2E;
							position: relative;
							padding-left: 10px;
							&:hover{
								background-color: white;
								color: black;
							}
							&:hover a{
								color: black;
								background-color: white;
							}
							&:hover p{
								color: black;
							}
							&:hover span{
								color: black;
								background-color: white;
							}
							a{
								padding: 0;
								background-color: #2E2E2E;
								p{
									color: white;
									text-align: left;
									font-weight: bold;
								}
								span{
									padding: 0px;
									margin: 0 2px;
									color: #CCCCCC;
									&:hover{
										border-bottom: 1px solid black;
									}
								}
							}
							&:nth-child(1):hover .paizi_1{
								display: block;
							}
							&:nth-child(2):hover .paizi_2{
								display: block;
							}
							&:nth-child(3):hover .paizi_3{
								display: block;
							}
							&:nth-child(4):hover .paizi_4{
								display: block;
							}
							&:nth-child(5):hover .paizi_5{
								display: block;
							}
							.paizi_1{
								display: none;
								width: 710px;
								height: 425px;
								background-color: white;
								position: absolute;
								left: 202px;
								top: 0px;
								padding-left: 10px;
								.logo{
									width: 100%;
									border-bottom: 1px solid #ddd;
									p{
										width: 100px;
										float: left;
										text-align: center;
										color: #ccc;
										font-size: 12px;
									}
									.title{
										color: tan;
									}
									ul{
										float: left;
										width: 600px;
										li{
											width: 150px;
											height: 125px;
											float: left;
											background-color: white;
											img{
												padding-top:20px ;
											}
										}
									}
								}
								.tuijian{
									
									.title{
										width: 100px;
										float: left;
										text-align: center;
										font-size: 12px;
										color: tan;
									}
									.span{
										width: 500px;
										float: left;
										span{
											font-size: 12px;
											color: #aaa;
											padding: 0 11px;
											border-right: 1px solid #aaa;
										}
									}
								}
								.cuxiao{
									.title{
										width: 100px;
										float: left;
										text-align: center;
										font-size: 12px;
										color: tan;
									}
									.span{
										width: 500px;
										float: left;
										span{
											font-size: 12px;
											color: #aaa;
											padding: 0 9px;
											border-right: 1px solid #aaa;
										}
									}
								}

							}
							.paizi_2{
								@extend .paizi_1;
								top: -85px;
							}
							.paizi_3{
								@extend .paizi_1;
								top: -170px;
							}
							.paizi_4{
								@extend .paizi_1;
								top: -255px;
							}
							.paizi_5{
								@extend .paizi_1;
								top: -340px;
							}
							
							
						}
					}
				}
				i{
					width: 28px;
					height: 30px;
					position: absolute;
					background: url(../img/meu.png);
					left: 45px;
					top: 6px;
				}
				a{
					padding: 0px 20px;
					font-size: 13px;
					text-align: center;
					color:#666666;
					box-sizing: border-box;	
					span{
						padding: 10px 0px;
						
					}
				}
			}
		}
	}
	
}
#banner{
	width: 100%;
	height: 426px;
	overflow: hidden;
	img{
		width: 1500px;
		height: 470px;
		transition: all 3s linear;
	}
}

.ship{
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
	ul{
		li{
			width: 300px;
			height: 58px;
			float: left;
			text-align: center;
			line-height: 58px;
			&:nth-child(1) a i:first-child{
				background: url(../img/jinglingtu.fw.png) 0 0;
			}
			&:nth-child(1) a i:last-child-child{}
			&:nth-child(2) a i:first-child{
				background: url(../img/jinglingtu.fw.png) -59px 0;
			}
			&:nth-child(3) a i:first-child{
				background: url(../img/jinglingtu.fw.png) -118px 0;
			}
			&:nth-child(4) a i:first-child{
				background: url(../img/jinglingtu.fw.png) -177px 0;
			}
			&:hover a{
				color: #C71B17;
			}
			a{
				color: #666666;
				position: relative;

				i{
					position: absolute;
					left: -63px;
					top: -15px;
					display: inline-block;
					width: 59px;
					height: 47px;				
				}
				.gang{
					left: 110px;
					background: url(../img/jinglingtu.fw.png) -236px 0;
				}
				
			}
		}
	}
}

.type{
	width: 100%;
	margin-top: 28px;
	.content{
		ul{
			li{
				width: 297px;
				height: 150px;
				float: left;
				margin-right: 6px;
				overflow: hidden;
				img{
					width: 297px;
					height: 150px;
					transition: all 1s linear;
					&:hover{
						transform: scale(1.1);
					}
				}
			}
		}
	}
}

#hot{
	width: 100%;
	margin-top: 50px;
	.header{
		h2{
		float: left;
		&:nth-child(2){
			margin-left: 10px;
			font-weight: normal;
			color: #909090;
			}
		}
		ul{
			float: right;
			li{
				float: left;
				margin: 0px 6px;
				font-size: 12px;
				line-height: 30px;
				&:hover span{
					color: #B22424;
					border-bottom: 1px solid #B22424;
				}
			}
			
		}
	}
	.body{
		width: 100%;
		height: 375px;
		margin-top: 10px;
		border: 1px solid #E5E5E5;
		.xcarousel ul.fade li{position: absolute;top:-10px;left:-10px}
		.xcarousel .btn-next{left:auto;right:0px;}
		.xcarousel .btn-prev{left: 0px;}
		
		.banner{
			width: 400px;
			height: 375px;
			overflow: hidden;
			border: 1px solid #ccc;
			float: left;
			img{
				width: 418px;
				height: 400px;
				transition: all 3s linear;
			}
		}
		.hot_sale{
			width: 309px;
			height: 375px;
			float: left;
			border: 1px solid #ccc;
			text-align: center;
			img{
				width: 240px;
				height: 240px;
				margin: 30px 0px 0px 20px ;
				transition: all 3s;
				&:hover{
					transform: scale(1.1);
				}
			}
			h4{
				margin-top: 30px;
				height: 30px;
				line-height: 30px;
				font-weight: normal;
				color: #AAAAAA;
			}
			p{
				color: #B22424;
				font-size: 12px;
			}
		}
		.tab{
			float: left;
			width: 524px;
			height: 375px;
			border-top: 1px solid #CCCCCC;
			border-left: 1px solid #CCCCCC;
			li{
				width: 260px;
				height: 187px;
				float: left;
				border-bottom: 1px solid #CCCCCC;
				border-right: 1px solid #CCCCCC;
				position: relative;
				overflow: hidden;
				.ptxt{
					position: absolute;
					left: 25px;
					top:50px;
					width: 96px;
					text-align: center;
					display: inline-block;
					font-size: 12px;
					z-index: 99;
					h4{
						color: #AAAAAA;
					}
					p{
						color: #B22424;
					}
				}
				img{
					position: absolute;
					right: 0px;
					bottom: -10px;
					display: inline-block;
					width: 160px;
					height: 160px;
					transition: all 1s;
					&:hover{
						transform: translateY(-10px);
					}
				}
			}
		}
	}
	.foot{
		ul{
			border: 1px solid #CCCCCC;
			li{
				width: 200px;
				float: left;
				height: 76px;
				position: relative;
				&:hover p{
					display: block;
				}
				img{
					position: absolute;
					left: 40px;
					top: 20px;
				}
				p{
					display: none;
					width: 150px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					border: 1px solid #B22424;
					border-radius: 10px;
					position: absolute;
					left: 18px;
					top: 16px;
					background-color: white;
					color: #B22424;
				}
			}
		}
	}
	
}

#sale{
	@extend #hot;
}

#new{
	@extend #hot;
}

#barand{
	width: 100%;
	margin-top: 50px;
	.header{
		h2{
		float: left;
		height: 30px;
		line-height: 30px;
		&:nth-child(2){
			margin-left: 10px;
			font-weight: normal;
			color: #909090;
			}
		}
		h4{
			float: right;
			font-weight: normal;
			font-size: 12px;
			margin-right: 20px;
			&:hover{
				color: #B32424;
			}
		}
	}
	.body{
		margin-top: 10px;
		ul{
			
			li{
				width: 292px;
				float: left;
				margin-right: 12px;
				margin-bottom: 24px;
				&:nth-child(4){
					margin-right: 0px;
				}
				&:nth-child(8){
					margin-right: 0px;
				}
				.imgbox{
					width: 292px;
					height: 260px;
					overflow: hidden;
					
					img{
						width: 292px;
						height: 260px;
						transition: all 3s;
						&:hover{
							transform: scale(1.1);
						}
					}
				}
				.textbox{
					width: 292px;
					background-color: #EEEEEE;
					color: #666666;
					img{
						padding-top: 20px;
						margin-left: 100px;
					}
					p{
						margin-top: 10px;
						padding-bottom: 10px;
						font-size: 12px;
						font-weight: normal;
						text-align: center;
						line-height: 20px;
					}
				}
			}
			
		}
	}
}

#like{
	width: 100%;
	.content{
		.header{
			h2{
				float: left;
				height: 30px;
				line-height: 30px;
				&:nth-child(2){
					margin-left: 10px;
					font-weight: normal;
					color: #909090;
				}
			}
			h4{
				float: right;
				font-weight: normal;
				font-size: 12px;
				margin-right: 40px;
				&:hover{
					color: #B32424;
				}
			}
		}
		.body{
			.box_l{
				width: 304px;
				ul{
					width: 304px;
					li{
						width: 152px;
//						height: 57px;
						
						float: left;
						img{
							height: 40px;
							margin-left: 10px;
						}
						a{
							display: block;
							width: 118px;
							height: 35px;
							line-height: 35px;
//							height: 40px;
							text-align: center;
							margin-top: 5px;
							border-radius: 5px;
							border: 1px solid #999999;
							font-size: 13px;
							&:hover{
								border: 1px solid #B32424;
								color: #B32424;
							}
						}
					}
				}
			}
		}
	}
}









#text{
	width: 100%;
	height: 200px;
	background-color: tan;
}
