.bigbox{
	min-width: 1235px;
}

#banner{
	width: 100%;
	height: 426px;
	overflow: hidden;
	img{
		width: 1500px;
		height: 470px;
		transition: all 3s linear;
	}
}

.ship{
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
	ul{
		li{
			width: 300px;
			height: 58px;
			float: left;
			text-align: center;
			line-height: 58px;
			&:nth-child(1) a i:first-child{
				background: url(../img/jinglingtu.fw.png) 0 0;
			}
			&:nth-child(1) a i:last-child-child{}
			&:nth-child(2) a i:first-child{
				background: url(../img/jinglingtu.fw.png) -59px 0;
			}
			&:nth-child(3) a i:first-child{
				background: url(../img/jinglingtu.fw.png) -118px 0;
			}
			&:nth-child(4) a i:first-child{
				background: url(../img/jinglingtu.fw.png) -177px 0;
			}
			&:hover a{
				color: #C71B17;
			}
			a{
				color: #666666;
				position: relative;
				i{
					position: absolute;
					left: -63px;
					top: -15px;
					display: inline-block;
					width: 59px;
					height: 47px;				
				}
				.gang{
					left: 110px;
					background: url(../img/jinglingtu.fw.png) -236px 0;
				}
				
			}
		}
	}
}

.type{
	width: 100%;
	margin-top: 28px;
	.content{
		ul{
			li{
				width: 294px;
				height: 150px;
				float: left;
				margin-right: 6px;
				overflow: hidden;
				img{
					width: 297px;
					height: 150px;
					transition: all 1s linear;
					&:hover{
						transform: scale(1.1);
					}
				}
			}
		}
	}
}

#hot{
	width: 100%;
	margin-top: 50px;
	.header{
		h2{
		float: left;
		&:nth-child(2){
			margin-left: 10px;
			font-weight: normal;
			color: #909090;
			}
		}
		ul{
			float: right;
			li{
				float: left;
				margin: 0px 6px;
				font-size: 12px;
				line-height: 30px;
				&:hover span{
					color: #B22424;
					border-bottom: 1px solid #B22424;
				}
			}
			
		}
	}
	.body{
		width: 100%;
		height: 375px;
		margin-top: 10px;
		border: 1px solid #E5E5E5;
		.xcarousel ul.fade li{position: absolute;top:-10px;left:-10px}
		.xcarousel .btn-next{left:auto;right:0px;}
		.xcarousel .btn-prev{left: 0px;}
		
		.banner{
			width: 400px;
			height: 375px;
			overflow: hidden;
			border: 1px solid #ccc;
			float: left;
			img{
				width: 418px;
				height: 400px;
				transition: all 3s linear;
			}
		}
		.hot_sale{
			width: 309px;
			height: 375px;
			float: left;
			border: 1px solid #ccc;
			text-align: center;
			img{
				width: 240px;
				height: 240px;
				margin: 30px 0px 0px 20px ;
				transition: all 3s;
				&:hover{
					transform: scale(1.1);
				}
			}
			h4{
				margin-top: 30px;
				height: 30px;
				line-height: 30px;
				font-weight: normal;
				color: #AAAAAA;
			}
			p{
				color: #B22424;
				font-size: 12px;
			}
		}
		.tab{
			float: left;
			width: 489px;
			height: 375px;
			border-top: 1px solid #CCCCCC;
			border-left: 1px solid #CCCCCC;
			li{
				width: 243px;
				height: 187px;
				float: left;
				border-bottom: 1px solid #CCCCCC;
				border-right: 1px solid #CCCCCC;
				position: relative;
				overflow: hidden;
				&:nth-child(2){
				border-right: 0 none;
				}
				&:nth-child(4){
					border-right: 0 none;
				}
				.ptxt{
					position: absolute;
					left: 25px;
					top:50px;
					width: 96px;
					text-align: center;
					display: inline-block;
					font-size: 12px;
					z-index: 90;
					h4{
						color: #AAAAAA;
					}
					p{
						color: #B22424;
					}
				}
				img{
					position: absolute;
					right: 0px;
					bottom: -10px;
					display: inline-block;
					width: 160px;
					height: 160px;
					transition: all 1s;
					&:hover{
						transform: translateY(-10px);
					}
				}
			}
		}
	}
	.foot{
		ul{
			border: 1px solid #CCCCCC;
			li{
				width: 199px;
				float: left;
				height: 76px;
				position: relative;
				&:hover p{
					display: block;
				}
				img{
					position: absolute;
					left: 40px;
					top: 20px;
				}
				p{
					display: none;
					width: 150px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					border: 1px solid #B22424;
					border-radius: 10px;
					position: absolute;
					left: 18px;
					top: 16px;
					background-color: white;
					color: #B22424;
				}
			}
		}
	}
	
}

#sale{
	@extend #hot;
}

#new{
	@extend #hot;
}

#barand{
	width: 100%;
	margin-top: 50px;
	.header{
		h2{
		float: left;
		height: 30px;
		line-height: 30px;
		&:nth-child(2){
			margin-left: 10px;
			font-weight: normal;
			color: #909090;
			}
		}
		h4{
			float: right;
			font-weight: normal;
			font-size: 12px;
			margin-right: 20px;
			&:hover{
				color: #B32424;
			}
		}
	}
	.body{
		margin-top: 10px;
		ul{
			
			li{
				width: 291px;
				float: left;
				margin-right: 12px;
				margin-bottom: 24px;
				&:nth-child(4){
					margin-right: 0px;
				}
				&:nth-child(8){
					margin-right: 0px;
				}
				.imgbox{
					width: 292px;
					height: 260px;
					overflow: hidden;
					
					img{
						width: 292px;
						height: 260px;
						transition: all 3s;
						&:hover{
							transform: scale(1.1);
						}
					}
				}
				.textbox{
					width: 292px;
					background-color: #EEEEEE;
					color: #666666;
					img{
						padding-top: 20px;
						margin-left: 100px;
					}
					p{
						margin-top: 10px;
						padding-bottom: 10px;
						font-size: 12px;
						font-weight: normal;
						text-align: center;
						line-height: 20px;
					}
				}
			}
			
		}
	}
}

#like{
	width: 100%;
	margin-top: 20px;
	.content{
		.header{
			border-bottom: 1px solid #CCCCCC;
			padding-bottom: 10px;
			h2{
				float: left;
				height: 30px;
				line-height: 30px;
				&:nth-child(2){
					margin-left: 10px;
					font-weight: normal;
					color: #909090;
				}
			}
			h4{
				float: right;
				font-weight: normal;
				font-size: 12px;
				margin-right: 40px;
				margin-top: 14px;
				&:hover{
					color: #B32424;
				}
			}
		}
		.body{
			padding-top: 15px;
			.box_l{
				width: 304px;
				float: left;
				ul{
					width: 304px;
					li{
						width: 152px;				
						float: left;
						img{
							height: 40px;
							margin: 0 auto;
						}
						a{
							display: block;
							width: 118px;
							height: 42px;
							line-height: 42px;
							text-align: center;
							margin: 5px auto;
							border-radius: 5px;
							border: 1px solid #999999;
							font-size: 13px;
							&:hover{
								border: 1px solid #B32424;
								color: #B32424;
								
							}
						}
					}
				}
			}
			.box_r{
				float: left;
				ul{
					li{
						width: 224px;
						float: left;
						text-align: center;
						transition: all 1s;
						img{
							width: 160px;
							margin: 0px auto;				
						}
						h4{
							font-size: 12px;
							height: 20px;
							line-height: 20px;
							margin-top: 10px;
							font-weight: normal;
						}
						p{
							font-size: 12px;
							color: #CC0000;
						}
					}
				}
			}
		}
	}
}


#share{
	width: 100%;
	margin-top: 20px;
	.content{
		.header{
			padding-bottom: 10px;
			h2{
				float: left;
				height: 30px;
				line-height: 30px;
				&:nth-child(2){
					margin-left: 10px;
					font-weight: normal;
					color: #909090;
				}
			}
			h4{
				float: right;
				font-weight: normal;
				font-size: 12px;
				margin-right: 40px;
				margin-top: 14px;
				&:hover{
					color: #B32424;
				}
			}
		}
		.body{
			margin-top: 10px;
			ul{
				li{
					float: left;
					margin-right: 10px;
					&:last-of-type{
						margin-right: 0px;
					}
					.imgbox{
						width: 292px;
						height: 260px;
						overflow: hidden;
						img{
							width: 292px;
							height: 260px;
							transition: all 3s;
							&:hover{
								transform: scale(1.1);
							}
						}
					}
					.txt{
						width: 292px;
						height: 60px;
						background-color: #EEEEEE;
						p{
							text-align: center;
							line-height: 60px;
						}
					}
				}
			}
		}
	}
}


#zixun{
	position: relative;
	width: 100%;
	margin-top: 20px;
	.content{
		#shop{
			width: 290px;
			float: left;
			.header{
				padding-bottom: 10px;
				h2{
					float: left;
					height: 30px;
					line-height: 30px;				
					&:nth-child(2){
						float: left;
						margin-left: 10px;
						font-weight: normal;
						color: #909090;	
					}
				}
			}
			.body{
				width: 290px;
				border: 1px solid #CCCCCC;
				padding-bottom: 10px;
				img{
					width: 290px;
					margin-bottom: 10px;
				}
				a{
					display: inline-block;
					width: 68px;
					text-align: center;
					height: 40px;
					line-height: 40px;
					color: #666666;
					font-size: 12px;
					&:hover{
						color: #AE0E16;
						span{
							border-bottom: 1px solid #AE0E16;
						}
					}
				}
			}
		}
		#news{
			width: 290px;
			float: left;
			.header{
				width: 910px;
				padding-bottom: 10px;
				margin-left: 10px;
				border-bottom: 1px solid #ccc;
				h2{
					float: left;
					height: 30px;
					line-height: 30px;				
					&:nth-child(2){
						float: left;
						margin-left: 10px;
						font-weight: normal;
						color: #909090;	
					}
				}
				h4{
					float: right;
					font-weight: normal;
					font-size: 12px;
					margin-right: 40px;
					margin-top: 14px;
					&:hover{
						color: #B32424;
					}
				}	
			}
			.body{
				width: 910px;
				ul{
					width: 291px;
					margin-left:10px;
					float: left;	
					li{
						margin-left: 10px;
						&:nth-child(1){
							text-align: center;
							margin: 35px 0px;
							a{
								font-size: 15px;
								&:hover{
									color: #B32424;
									border-bottom: 0 none;
								}
							}
						}
						a{
							width: 291px;
							height: 24px;
							font-size: 12px;
							line-height: 24px;
							color: #909090;
							&:hover{
								color: #B32424;
								border-bottom: 1px solid #B32424;
							}
						}
					}
				}
			}
		}
	}
}

#fix_left{
	&.fixed{
		position: fixed;
		left: 0px;
	}
	&.absoule{
		position: absolute;
		left: 1px;
		top: 148px;
	}
	display: none;
	width: 30px;
	background-color: #DDDDDD;
	transform: translate(0,-50%);	
	ul{
		width: 30px;
		&:hover{
			cursor: pointer;
		}
		li{
			width: 30px;
			height: 40px;
			padding: 8px 3px;
			font-size: 12px;
			color: #666666;
			border-bottom: 1px solid #8C8C8C;	
			&:hover{
				color: white;
				background-color: #666;
			}
			&:last-of-type{
				border-bottom: 0 none;
			}
		}
	}
}


