.guanggao { width: 100%; position: relative; }

.guanggao img { width: 100%; }

.guanggao span { position: absolute; display: block; width: 30px; height: 30px; line-height: 30px; right: 50px; top: 15px; cursor: pointer; text-align: center; background: rgba(0, 0, 0, 0.3); color: white; border-radius: 50%; }

.header1 { width: 100%; background-color: #333333; }

.header1 .content { overflow: visible; }

.header1 .content ul { float: right; height: 27px; }

.header1 .content ul li { float: left; }

.header1 .content ul li:nth-child(2) a { color: #D9C398; }

.header1 .content ul li a { display: block; height: 27px; text-align: center; color: #CCBEB8; padding: 6px 0px; }

.header1 .content ul li a:nth-child(2) { color: #D9C398; }

.header1 .content ul li a:hover { color: white; }

.header1 .content ul li a span { display: block; font-size: 12px; padding: 0 25px; box-sizing: border-box; }

.header1 .content ul li:nth-child(2) span { border-right: 1px solid #4D5548; }

.header1 .content ul li:nth-child(3) span { border-right: 1px solid #4D5548; }

.header1 .content ul li:nth-child(6) span { border-right: 1px solid #4D5548; }

.header1 .content ul li:nth-child(4):hover a { background-color: white; color: black; }

.header1 .content ul li:nth-child(6):hover a { background-color: white; color: black; }

.header1 .content ul li:nth-child(6):hover a span { border-right: 0 none; }

.header1 .content ul li:nth-child(4) { width: 99px; height: 27px; }

.header1 .content ul li:nth-child(4) .erweima { display: none; width: 220px; overflow: hidden; position: relative; z-index: 99; left: -121px; background-color: white; }

.header1 .content ul li:nth-child(4) .erweima .img { position: relative; left: 40px; top: 25px; width: 130px; height: 130px; }

.header1 .content ul li:nth-child(4) .erweima .img img { position: absolute; left: 0; top: 0; width: 130px; height: 130px; }

.header1 .content ul li:nth-child(4) .erweima .page { width: 220px; position: absolute; left: 0px; top: 175px; }

.header1 .content ul li:nth-child(4) .erweima .page h4 { float: left; width: 110px; height: 40px; display: inline-block; font-size: 13px; font-weight: normal; text-align: center; line-height: 40px; }

.header1 .content ul li:nth-child(4) .erweima .page h4.active { color: white; background-color: #2E2E2E; }

.header1 .content ul li:nth-child(6) { width: 99px; height: 27px; }

.header1 .content ul li:nth-child(6) .fuwu { display: none; width: 220px; height: 0; overflow: hidden; position: relative; z-index: 99; left: -121px; background-color: white; }

.header1 .content ul li:nth-child(6) .fuwu .zaixian { border-bottom: 1px solid #DDDDDD; width: 200px; position: relative; left: 10px; }

.header1 .content ul li:nth-child(6) .fuwu .zaixian h4 { width: 90px; height: 40px; text-align: center; display: inline-block; font-weight: normal; color: #AAAAAA; font-size: 12px; line-height: 40px; }

.header1 .content ul li:nth-child(6) .fuwu .zaixian h4:hover { color: black; }

.header1 .content ul li:nth-child(6) .fuwu .tel { width: 200px; margin-top: 15px; }

.header1 .content ul li:nth-child(6) .fuwu .tel h4 { width: 200px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; font-weight: normal; color: #AAAAAA; }

.header2 { width: 100%; height: 126px; background-color: #FAFAFA; }

.header2 .logo { float: left; width: 124px; height: 67px; margin: 30px 0 29px 0; background: url(../img/base_new.png) 10px 0px no-repeat; }

.header2 .gif { float: left; width: 208px; height: 82px; margin: 30px 0 14px 0; }

.header2 .right { float: right; margin-top: 31px; }

.header2 .right from { float: left; position: relative; border: 2px solid #D9D9D9; }

.header2 .right from i { display: inline-block; width: 19px; height: 17px; position: absolute; background: url(../img/base_new.png) -253px -9px; left: 6px; top: 10px; }

.header2 .right from #search { width: 240px; height: 37px; border: 0 none; padding-left: 30px; }

.header2 .right from #search_btn { width: 80px; height: 30px; border: 0 none; background-color: #B32424; color: white; margin: 5px; border-radius: 3px; }

.header2 .right .buycar { float: left; width: 180px; height: 44px; border: 2px solid #D9D9D9; margin: 0 34px 0 17px; color: #666666; line-height: 37px; text-align: center; position: relative; }

.header2 .right .buycar i { position: absolute; width: 25px; height: 25px; left: 15px; top: 5px; background: url(../img/butcar.png); }

.header2 .right .buycar span:last-of-type { display: inline-block; width: 25px; height: 25px; color: white; background-color: #B32424; border-radius: 40%; line-height: 25px; text-align: center; }

.header2 .right .hot_search li { float: left; }

.header2 .right .hot_search li:nth-child(1) a { padding-left: 0px; }

.header2 .right .hot_search li:nth-child(2) a { border-right: 2px solid #D9D9D9; border-left: 2px solid #D9D9D9; }

.header2 .right .hot_search li a { height: 25px; padding: 6px 15px; box-sizing: border-box; font-size: 12px; }

.header2 .right .hot_search li a span { color: #999999; }

.header2 .right .hot_search li a:hover span { color: black; border-bottom: 1px solid black; }

.nav { width: 100%; background-color: #FAFAFA; }

.nav .content { overflow: visible; }

.nav .content ul li { float: left; height: 43px; line-height: 43px; box-sizing: border-box; }

.nav .content ul li:nth-child(6) { position: relative; }

.nav .content ul li:nth-child(6) i { display: block; position: absolute; left: 77px; top: 8px; width: 22px; height: 15px; background: url(../img/xb_hot.png); }

.nav .content ul li:hover a span { border-bottom: 2px solid #B32424; }

.nav .content ul li:nth-child(1):hover a span { border-bottom: 0 none; }

.nav .content ul li:nth-child(1) a { padding: 13px 66px 13px 84px; color: white; background-color: #B32424; }

.nav .content ul li:nth-child(1) { position: relative; z-index: 99; }

.nav .content ul li:nth-child(1) ul { width: 202px; }

.nav .content ul li:nth-child(1) ul li { width: 100%; height: 85px; background-color: #2E2E2E; position: relative; padding-left: 10px; }

.nav .content ul li:nth-child(1) ul li:hover { background-color: white; color: black; }

.nav .content ul li:nth-child(1) ul li:hover a { color: black; background-color: white; }

.nav .content ul li:nth-child(1) ul li:hover p { color: black; }

.nav .content ul li:nth-child(1) ul li:hover span { color: black; background-color: white; }

.nav .content ul li:nth-child(1) ul li a { padding: 0; background-color: #2E2E2E; }

.nav .content ul li:nth-child(1) ul li a p { color: white; text-align: left; font-weight: bold; }

.nav .content ul li:nth-child(1) ul li a span { padding: 0px; margin: 0 2px; color: #CCCCCC; }

.nav .content ul li:nth-child(1) ul li a span:hover { border-bottom: 1px solid black; }

.nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_1, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_2, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_3, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_4, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_5 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(2):hover .paizi_2 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(3):hover .paizi_3 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(4):hover .paizi_4 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(5):hover .paizi_5 { display: block; }

.nav .content ul li:nth-child(1) ul li .paizi_1, .nav .content ul li:nth-child(1) ul li .paizi_2, .nav .content ul li:nth-child(1) ul li .paizi_3, .nav .content ul li:nth-child(1) ul li .paizi_4, .nav .content ul li:nth-child(1) ul li .paizi_5 { display: none; width: 710px; height: 425px; background-color: white; position: absolute; left: 202px; top: 0px; padding-left: 10px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo { width: 100%; border-bottom: 1px solid #ddd; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo p { width: 100px; float: left; text-align: center; color: #ccc; font-size: 12px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo .title { color: tan; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo ul { float: left; width: 600px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo ul li { width: 150px; height: 125px; float: left; background-color: white; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo ul li img { padding-top: 20px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_2 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_3 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_4 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_5 .tuijian .title { width: 100px; float: left; text-align: center; font-size: 12px; color: tan; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_2 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_3 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_4 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_5 .tuijian .span { width: 500px; float: left; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_2 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_3 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_4 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_5 .tuijian .span span { font-size: 12px; color: #aaa; padding: 0 11px; border-right: 1px solid #aaa; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_2 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_3 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_4 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_5 .cuxiao .title { width: 100px; float: left; text-align: center; font-size: 12px; color: tan; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_2 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_3 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_4 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_5 .cuxiao .span { width: 500px; float: left; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_2 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_3 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_4 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_5 .cuxiao .span span { font-size: 12px; color: #aaa; padding: 0 9px; border-right: 1px solid #aaa; }

.nav .content ul li:nth-child(1) ul li .paizi_2 { top: -85px; }

.nav .content ul li:nth-child(1) ul li .paizi_3 { top: -170px; }

.nav .content ul li:nth-child(1) ul li .paizi_4 { top: -255px; }

.nav .content ul li:nth-child(1) ul li .paizi_5 { top: -340px; }

.nav .content ul li i { width: 28px; height: 30px; position: absolute; color: white; left: 45px; top: 3px; }

.nav .content ul li a { padding: 0px 20px; font-size: 13px; text-align: center; color: #666666; box-sizing: border-box; }

.nav .content ul li a span { padding: 10px 0px; }

#zhengpin { width: 100%; height: 60px; background-color: #AE0E16; }

#zhengpin .content ul li { float: left; width: 240px; height: 60px; text-align: center; line-height: 60px; position: relative; }

#zhengpin .content ul li:nth-child(1) i { background: url(../img/zhengpin_1.png); }

#zhengpin .content ul li:nth-child(2) i { background: url(../img/zhengpin_2.png); }

#zhengpin .content ul li:nth-child(3) i { background: url(../img/zhengpin_3.png); }

#zhengpin .content ul li:nth-child(4) i { background: url(../img/zhengpin_4.png); }

#zhengpin .content ul li:nth-child(5) i { background: url(../img/zhengpin_5.png); }

#zhengpin .content ul li a { color: white; font-size: 15px; }

#zhengpin .content ul li a i { position: absolute; left: 35px; top: 7px; display: block; width: 48px; height: 46px; }

#foot { width: 100%; padding-bottom: 50px; background-color: #EEEEEE; border-bottom: 1px solid #ccc; }

#foot .content .foot_l { float: left; width: 246px; text-align: center; }

#foot .content .foot_l h3 { margin-top: 60px; font-size: 13px; }

#foot .content .foot_l h2 { font-weight: normal; font-size: 30px; }

#foot .content .foot_l p { color: #CCCCCC; font-size: 14px; }

#foot .content .foot_l a { display: inline-block; padding: 8px; border: 1px solid #B22424; margin-top: 10px; border-radius: 5px; font-size: 13px; color: #B22424; margin-right: 5px; }

#foot .content .foot_c { float: left; width: 500px; margin-top: 60px; margin-left: 20px; }

#foot .content .foot_c ul { width: 100px; float: left; }

#foot .content .foot_c ul:last-of-type { border-right: 1px solid #ccc; }

#foot .content .foot_c ul li { font-size: 12px; height: 25px; line-height: 25px; }

#foot .content .foot_c ul li:nth-child(1) { font-weight: bold; margin-bottom: 30px; }

#foot .content .foot_c ul li a { color: #666666; }

#foot .content .foot_c ul li a:hover { color: black; }

#foot .content .foot_r { float: left; margin-top: 60px; margin-left: 20px; }

#foot .content .foot_r .foot_r1 { float: left; padding-right: 15px; margin-right: 15px; border-right: 1px solid #ccc; }

#foot .content .foot_r .foot_r2 { float: left; }

#foot .content .foot_r a { display: inline-block; padding: 5px; font-size: 12px; color: #666666; background-color: #ccc; }

#foot .content .foot_r a.active { background-color: #666666; color: white; }

#foot .content .foot_r a:nth-child(2) { margin-left: -5px; }

#foot .content .foot_r p { font-size: 12px; color: #666666; text-align: center; }

#foot .content .foot_r .imgbox { width: 90px; height: 90px; margin: 10px auto; position: relative; }

#foot .content .foot_r .imgbox img { width: 90px; height: 90px; position: absolute; left: 0px; top: 0px; }

#footbox { width: 100%; background-color: #EEEEEE; }

#footbox .content ul { width: 800px; margin: 20px auto; }

#footbox .content ul li { float: left; height: 50px; line-height: 50px; text-align: center; }

#footbox .content ul li a { color: #666666; font-size: 12px; padding: 10px; }

#footbox .content ul li a:hover { color: black; }

#footbox .content p { text-align: center; color: #666666; font-size: 12px; padding: 5px; }

#footbox .content img { width: 592px; height: 61px; margin: 0 auto; }

#footbox .content .last { width: 100%; margin: 0 auto; }

#fix_left { display: none; width: 30px; background-color: #DDDDDD; transform: translate(0, -50%); }

#fix_left.fixed { position: fixed; left: 0px; top: 50%; }

#fix_left.absoule { position: absolute; left: 1px; top: 148px; }

#fix_left ul { width: 30px; }

#fix_left ul:hover { cursor: pointer; }

#fix_left ul li { width: 30px; height: 40px; padding: 8px 3px; font-size: 12px; color: #666666; border-bottom: 1px solid #8C8C8C; }

#fix_left ul li:hover { color: white; background-color: #666; }

#fix_left ul li:last-of-type { border-bottom: 0 none; }

#fix_right_b { position: fixed; right: 0px; bottom: 100px; z-index: 99; }

#fix_right_b ul { width: 30px; }

#fix_right_b ul:hover { cursor: pointer; }

#fix_right_b ul li { width: 30px; height: 40px; text-align: center; line-height: 40px; background-color: #DDDDDD; color: #666666; position: relative; }

#fix_right_b ul li:nth-child(2) a { width: 150px; height: 150px; left: -150px; }

#fix_right_b ul li:nth-child(2) a img { width: 100px; height: 100px; margin: 10px auto; }

#fix_right_b ul li:nth-child(2) a p { height: 20px; line-height: 20px; }

#fix_right_b ul li:hover { color: white; background-color: #666666; }

#fix_right_b ul li:hover a { display: block; }

#fix_right_b ul li a { display: none; width: 70px; height: 40px; text-align: center; position: absolute; font-size: 12px; left: -70px; top: 0px; color: black; background-color: white; border: 1px solid #ccc; }

#fix_right_t { position: fixed; right: 0px; top: 220px; z-index: 99; }

#fix_right_t i { display: block; width: 60px; height: 60px; background: url(../img/base.png) -56px -80px; }

#fix_right_t .box { position: absolute; width: 200px; height: 130px; left: -200px; top: 0px; background-color: white; text-align: center; }

#fix_right_t .box p { margin-top: 10px; }

#fix_right_t .box h3 { color: #CC0000; }

#fix_right_t .box a { display: block; width: 90px; height: 30px; line-height: 30px; color: white; font-size: 12px; border-radius: 5px; background-color: #CC0000; margin: 5px 20px 5px 20px; }

#fix_right_t .box a:last-of-type { background-color: white; border: 1px solid #CC0000; color: #CC0000; }

#fix_right_t .box i { width: 30px; height: 30px; position: absolute; line-height: 30px; background: none; font-style: normal; right: 8px; top: 5px; cursor: pointer; transition: all 0.5s; }

#fix_right_t .box i:hover { transform: rotate(180deg); }
