.bigbox { min-width: 1235px; }

#banner { width: 100%; height: 426px; overflow: hidden; }

#banner img { width: 1500px; height: 470px; transition: all 3s linear; }

.ship { width: 100%; border-bottom: 1px solid #E5E5E5; }

.ship ul li { width: 300px; height: 58px; float: left; text-align: center; line-height: 58px; }

.ship ul li:nth-child(1) a i:first-child { background: url(../img/jinglingtu.fw.png) 0 0; }

.ship ul li:nth-child(2) a i:first-child { background: url(../img/jinglingtu.fw.png) -59px 0; }

.ship ul li:nth-child(3) a i:first-child { background: url(../img/jinglingtu.fw.png) -118px 0; }

.ship ul li:nth-child(4) a i:first-child { background: url(../img/jinglingtu.fw.png) -177px 0; }

.ship ul li:hover a { color: #C71B17; }

.ship ul li a { color: #666666; position: relative; }

.ship ul li a i { position: absolute; left: -63px; top: -15px; display: inline-block; width: 59px; height: 47px; }

.ship ul li a .gang { left: 110px; background: url(../img/jinglingtu.fw.png) -236px 0; }

.type { width: 100%; margin-top: 28px; }

.type .content ul li { width: 294px; height: 150px; float: left; margin-right: 6px; overflow: hidden; }

.type .content ul li img { width: 297px; height: 150px; transition: all 1s linear; }

.type .content ul li img:hover { transform: scale(1.1); }

#hot, #sale, #new { width: 100%; margin-top: 50px; }

#hot .header h2, #sale .header h2, #new .header h2 { float: left; }

#hot .header h2:nth-child(2), #sale .header h2:nth-child(2), #new .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#hot .header ul, #sale .header ul, #new .header ul { float: right; }

#hot .header ul li, #sale .header ul li, #new .header ul li { float: left; margin: 0px 6px; font-size: 12px; line-height: 30px; }

#hot .header ul li:hover span, #sale .header ul li:hover span, #new .header ul li:hover span { color: #B22424; border-bottom: 1px solid #B22424; }

#hot .body, #sale .body, #new .body { width: 100%; height: 375px; margin-top: 10px; border: 1px solid #E5E5E5; }

#hot .body .xcarousel ul.fade li, #sale .body .xcarousel ul.fade li, #new .body .xcarousel ul.fade li { position: absolute; top: -10px; left: -10px; }

#hot .body .xcarousel .btn-next, #sale .body .xcarousel .btn-next, #new .body .xcarousel .btn-next { left: auto; right: 0px; }

#hot .body .xcarousel .btn-prev, #sale .body .xcarousel .btn-prev, #new .body .xcarousel .btn-prev { left: 0px; }

#hot .body .banner, #sale .body .banner, #new .body .banner { width: 400px; height: 375px; overflow: hidden; border: 1px solid #ccc; float: left; }

#hot .body .banner img, #sale .body .banner img, #new .body .banner img { width: 418px; height: 400px; transition: all 3s linear; }

#hot .body .hot_sale, #sale .body .hot_sale, #new .body .hot_sale { width: 309px; height: 375px; float: left; border: 1px solid #ccc; text-align: center; }

#hot .body .hot_sale img, #sale .body .hot_sale img, #new .body .hot_sale img { width: 240px; height: 240px; margin: 30px 0px 0px 20px; transition: all 3s; }

#hot .body .hot_sale img:hover, #sale .body .hot_sale img:hover, #new .body .hot_sale img:hover { transform: scale(1.1); }

#hot .body .hot_sale h4, #sale .body .hot_sale h4, #new .body .hot_sale h4 { margin-top: 30px; height: 30px; line-height: 30px; font-weight: normal; color: #AAAAAA; }

#hot .body .hot_sale p, #sale .body .hot_sale p, #new .body .hot_sale p { color: #B22424; font-size: 12px; }

#hot .body .tab, #sale .body .tab, #new .body .tab { float: left; width: 489px; height: 375px; border-top: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; }

#hot .body .tab li, #sale .body .tab li, #new .body .tab li { width: 243px; height: 187px; float: left; border-bottom: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; position: relative; overflow: hidden; }

#hot .body .tab li:nth-child(2), #sale .body .tab li:nth-child(2), #new .body .tab li:nth-child(2) { border-right: 0 none; }

#hot .body .tab li:nth-child(4), #sale .body .tab li:nth-child(4), #new .body .tab li:nth-child(4) { border-right: 0 none; }

#hot .body .tab li .ptxt, #sale .body .tab li .ptxt, #new .body .tab li .ptxt { position: absolute; left: 25px; top: 50px; width: 96px; text-align: center; display: inline-block; font-size: 12px; z-index: 90; }

#hot .body .tab li .ptxt h4, #sale .body .tab li .ptxt h4, #new .body .tab li .ptxt h4 { color: #AAAAAA; }

#hot .body .tab li .ptxt p, #sale .body .tab li .ptxt p, #new .body .tab li .ptxt p { color: #B22424; }

#hot .body .tab li img, #sale .body .tab li img, #new .body .tab li img { position: absolute; right: 0px; bottom: -10px; display: inline-block; width: 160px; height: 160px; transition: all 1s; }

#hot .body .tab li img:hover, #sale .body .tab li img:hover, #new .body .tab li img:hover { transform: translateY(-10px); }

#hot .foot ul, #sale .foot ul, #new .foot ul { border: 1px solid #CCCCCC; }

#hot .foot ul li, #sale .foot ul li, #new .foot ul li { width: 199px; float: left; height: 76px; position: relative; }

#hot .foot ul li:hover p, #sale .foot ul li:hover p, #new .foot ul li:hover p { display: block; }

#hot .foot ul li img, #sale .foot ul li img, #new .foot ul li img { position: absolute; left: 40px; top: 20px; }

#hot .foot ul li p, #sale .foot ul li p, #new .foot ul li p { display: none; width: 150px; height: 50px; text-align: center; line-height: 50px; border: 1px solid #B22424; border-radius: 10px; position: absolute; left: 18px; top: 16px; background-color: white; color: #B22424; }

#barand { width: 100%; margin-top: 50px; }

#barand .header h2 { float: left; height: 30px; line-height: 30px; }

#barand .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#barand .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 20px; }

#barand .header h4:hover { color: #B32424; }

#barand .body { margin-top: 10px; }

#barand .body ul li { width: 291px; float: left; margin-right: 12px; margin-bottom: 24px; }

#barand .body ul li:nth-child(4) { margin-right: 0px; }

#barand .body ul li:nth-child(8) { margin-right: 0px; }

#barand .body ul li .imgbox { width: 292px; height: 260px; overflow: hidden; }

#barand .body ul li .imgbox img { width: 292px; height: 260px; transition: all 3s; }

#barand .body ul li .imgbox img:hover { transform: scale(1.1); }

#barand .body ul li .textbox { width: 292px; background-color: #EEEEEE; color: #666666; }

#barand .body ul li .textbox img { padding-top: 20px; margin-left: 100px; }

#barand .body ul li .textbox p { margin-top: 10px; padding-bottom: 10px; font-size: 12px; font-weight: normal; text-align: center; line-height: 20px; }

#like { width: 100%; margin-top: 20px; }

#like .content .header { border-bottom: 1px solid #CCCCCC; padding-bottom: 10px; }

#like .content .header h2 { float: left; height: 30px; line-height: 30px; }

#like .content .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#like .content .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 40px; margin-top: 14px; }

#like .content .header h4:hover { color: #B32424; }

#like .content .body { padding-top: 15px; }

#like .content .body .box_l { width: 304px; float: left; }

#like .content .body .box_l ul { width: 304px; }

#like .content .body .box_l ul li { width: 152px; float: left; }

#like .content .body .box_l ul li img { height: 40px; margin: 0 auto; }

#like .content .body .box_l ul li a { display: block; width: 118px; height: 42px; line-height: 42px; text-align: center; margin: 5px auto; border-radius: 5px; border: 1px solid #999999; font-size: 13px; }

#like .content .body .box_l ul li a:hover { border: 1px solid #B32424; color: #B32424; }

#like .content .body .box_r { float: left; }

#like .content .body .box_r ul li { width: 224px; float: left; text-align: center; transition: all 1s; }

#like .content .body .box_r ul li img { width: 160px; margin: 0px auto; }

#like .content .body .box_r ul li h4 { font-size: 12px; height: 20px; line-height: 20px; margin-top: 10px; font-weight: normal; }

#like .content .body .box_r ul li p { font-size: 12px; color: #CC0000; }

#share { width: 100%; margin-top: 20px; }

#share .content .header { padding-bottom: 10px; }

#share .content .header h2 { float: left; height: 30px; line-height: 30px; }

#share .content .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#share .content .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 40px; margin-top: 14px; }

#share .content .header h4:hover { color: #B32424; }

#share .content .body { margin-top: 10px; }

#share .content .body ul li { float: left; margin-right: 10px; }

#share .content .body ul li:last-of-type { margin-right: 0px; }

#share .content .body ul li .imgbox { width: 292px; height: 260px; overflow: hidden; }

#share .content .body ul li .imgbox img { width: 292px; height: 260px; transition: all 3s; }

#share .content .body ul li .imgbox img:hover { transform: scale(1.1); }

#share .content .body ul li .txt { width: 292px; height: 60px; background-color: #EEEEEE; }

#share .content .body ul li .txt p { text-align: center; line-height: 60px; }

#zixun { position: relative; width: 100%; margin-top: 20px; }

#zixun .content #shop { width: 290px; float: left; }

#zixun .content #shop .header { padding-bottom: 10px; }

#zixun .content #shop .header h2 { float: left; height: 30px; line-height: 30px; }

#zixun .content #shop .header h2:nth-child(2) { float: left; margin-left: 10px; font-weight: normal; color: #909090; }

#zixun .content #shop .body { width: 290px; border: 1px solid #CCCCCC; padding-bottom: 10px; }

#zixun .content #shop .body img { width: 290px; margin-bottom: 10px; }

#zixun .content #shop .body a { display: inline-block; width: 68px; text-align: center; height: 40px; line-height: 40px; color: #666666; font-size: 12px; }

#zixun .content #shop .body a:hover { color: #AE0E16; }

#zixun .content #shop .body a:hover span { border-bottom: 1px solid #AE0E16; }

#zixun .content #news { width: 290px; float: left; }

#zixun .content #news .header { width: 910px; padding-bottom: 10px; margin-left: 10px; border-bottom: 1px solid #ccc; }

#zixun .content #news .header h2 { float: left; height: 30px; line-height: 30px; }

#zixun .content #news .header h2:nth-child(2) { float: left; margin-left: 10px; font-weight: normal; color: #909090; }

#zixun .content #news .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 40px; margin-top: 14px; }

#zixun .content #news .header h4:hover { color: #B32424; }

#zixun .content #news .body { width: 910px; }

#zixun .content #news .body ul { width: 291px; margin-left: 10px; float: left; }

#zixun .content #news .body ul li { margin-left: 10px; }

#zixun .content #news .body ul li:nth-child(1) { text-align: center; margin: 35px 0px; }

#zixun .content #news .body ul li:nth-child(1) a { font-size: 15px; }

#zixun .content #news .body ul li:nth-child(1) a:hover { color: #B32424; border-bottom: 0 none; }

#zixun .content #news .body ul li a { width: 291px; height: 24px; font-size: 12px; line-height: 24px; color: #909090; }

#zixun .content #news .body ul li a:hover { color: #B32424; border-bottom: 1px solid #B32424; }

#fix_left { display: none; width: 30px; background-color: #DDDDDD; transform: translate(0, -50%); }

#fix_left.fixed { position: fixed; left: 0px; }

#fix_left.absoule { position: absolute; left: 1px; top: 148px; }

#fix_left ul { width: 30px; }

#fix_left ul:hover { cursor: pointer; }

#fix_left ul li { width: 30px; height: 40px; padding: 8px 3px; font-size: 12px; color: #666666; border-bottom: 1px solid #8C8C8C; }

#fix_left ul li:hover { color: white; background-color: #666; }

#fix_left ul li:last-of-type { border-bottom: 0 none; }
