.bigbox { min-width: 1235px; }

.header1 { width: 100%; background-color: #333333; }

.header1 .content { overflow: visible; }

.header1 .content ul { float: right; height: 27px; }

.header1 .content ul li { float: left; }

.header1 .content ul li:nth-child(2) a { color: #D9C398; }

.header1 .content ul li a { display: block; height: 27px; text-align: center; color: #CCBEB8; padding: 6px 0px; }

.header1 .content ul li a:nth-child(2) { color: #D9C398; }

.header1 .content ul li a:hover { color: white; }

.header1 .content ul li a span { display: block; font-size: 12px; padding: 0 25px; box-sizing: border-box; }

.header1 .content ul li:nth-child(2) span { border-right: 1px solid #4D5548; }

.header1 .content ul li:nth-child(3) span { border-right: 1px solid #4D5548; }

.header1 .content ul li:nth-child(6) span { border-right: 1px solid #4D5548; }

.header1 .content ul li:nth-child(4):hover a { background-color: white; color: black; }

.header1 .content ul li:nth-child(6):hover a { background-color: white; color: black; }

.header1 .content ul li:nth-child(6):hover a span { border-right: 0 none; }

.header1 .content ul li:nth-child(4) { width: 99px; height: 27px; }

.header1 .content ul li:nth-child(4) .erweima { display: none; width: 220px; overflow: hidden; position: relative; z-index: 99; left: -121px; background-color: white; }

.header1 .content ul li:nth-child(4) .erweima .img { position: relative; left: 40px; top: 25px; width: 130px; height: 130px; }

.header1 .content ul li:nth-child(4) .erweima .img img { position: absolute; left: 0; top: 0; width: 130px; height: 130px; }

.header1 .content ul li:nth-child(4) .erweima .page { width: 220px; position: absolute; left: 0px; top: 175px; }

.header1 .content ul li:nth-child(4) .erweima .page h4 { float: left; width: 110px; height: 40px; display: inline-block; font-size: 13px; font-weight: normal; text-align: center; line-height: 40px; }

.header1 .content ul li:nth-child(4) .erweima .page h4.active { color: white; background-color: #2E2E2E; }

.header1 .content ul li:nth-child(6) { width: 99px; height: 27px; }

.header1 .content ul li:nth-child(6) .fuwu { display: none; width: 220px; height: 0; overflow: hidden; position: relative; z-index: 99; left: -121px; background-color: white; }

.header1 .content ul li:nth-child(6) .fuwu .zaixian { border-bottom: 1px solid #DDDDDD; width: 200px; position: relative; left: 10px; }

.header1 .content ul li:nth-child(6) .fuwu .zaixian h4 { width: 90px; height: 40px; text-align: center; display: inline-block; font-weight: normal; color: #AAAAAA; font-size: 12px; line-height: 40px; }

.header1 .content ul li:nth-child(6) .fuwu .zaixian h4:hover { color: black; }

.header1 .content ul li:nth-child(6) .fuwu .tel { width: 200px; margin-top: 15px; }

.header1 .content ul li:nth-child(6) .fuwu .tel h4 { width: 200px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; font-weight: normal; color: #AAAAAA; }

.header2 { width: 100%; height: 126px; background-color: #FAFAFA; }

.header2 .logo { float: left; width: 124px; height: 67px; margin: 30px 0 29px 0; background: url(../img/base_new.png) 10px 0px no-repeat; }

.header2 .gif { float: left; width: 208px; height: 82px; margin: 30px 0 14px 0; }

.header2 .right { float: right; margin-top: 31px; }

.header2 .right from { float: left; position: relative; border: 2px solid #D9D9D9; }

.header2 .right from i { display: inline-block; width: 19px; height: 17px; position: absolute; background: url(../img/base_new.png) -253px -9px; left: 6px; top: 10px; }

.header2 .right from #search { width: 240px; height: 37px; border: 0 none; padding-left: 30px; }

.header2 .right from #search_btn { width: 80px; height: 30px; border: 0 none; background-color: #B32424; color: white; margin: 5px; border-radius: 3px; }

.header2 .right .buycar { float: left; width: 180px; height: 44px; border: 2px solid #D9D9D9; margin: 0 34px 0 17px; color: #666666; line-height: 37px; text-align: center; position: relative; }

.header2 .right .buycar i { position: absolute; width: 25px; height: 25px; left: 15px; top: 5px; background: url(../img/butcar.png); }

.header2 .right .buycar span:last-of-type { display: inline-block; width: 25px; height: 25px; color: white; background-color: #B32424; border-radius: 40%; line-height: 25px; text-align: center; }

.header2 .right .hot_search li { float: left; }

.header2 .right .hot_search li:nth-child(1) a { padding-left: 0px; }

.header2 .right .hot_search li:nth-child(2) a { border-right: 2px solid #D9D9D9; border-left: 2px solid #D9D9D9; }

.header2 .right .hot_search li a { height: 25px; padding: 6px 15px; box-sizing: border-box; font-size: 12px; }

.header2 .right .hot_search li a span { color: #999999; }

.header2 .right .hot_search li a:hover span { color: black; border-bottom: 1px solid black; }

.nav { width: 100%; background-color: #FAFAFA; }

.nav .content { overflow: visible; }

.nav .content ul li { float: left; height: 43px; line-height: 43px; box-sizing: border-box; }

.nav .content ul li:nth-child(6) { position: relative; }

.nav .content ul li:nth-child(6) i { display: block; position: absolute; left: 77px; top: 8px; width: 22px; height: 15px; background: url(../img/xb_hot.png); }

.nav .content ul li:hover a span { border-bottom: 2px solid #B32424; }

.nav .content ul li:nth-child(1):hover a span { border-bottom: 0 none; }

.nav .content ul li:nth-child(1) a { padding: 13px 66px 13px 84px; color: white; background-color: #B32424; }

.nav .content ul li:nth-child(1) { position: relative; z-index: 99; }

.nav .content ul li:nth-child(1) ul { width: 202px; }

.nav .content ul li:nth-child(1) ul li { width: 100%; height: 85px; background-color: #2E2E2E; position: relative; padding-left: 10px; }

.nav .content ul li:nth-child(1) ul li:hover { background-color: white; color: black; }

.nav .content ul li:nth-child(1) ul li:hover a { color: black; background-color: white; }

.nav .content ul li:nth-child(1) ul li:hover p { color: black; }

.nav .content ul li:nth-child(1) ul li:hover span { color: black; background-color: white; }

.nav .content ul li:nth-child(1) ul li a { padding: 0; background-color: #2E2E2E; }

.nav .content ul li:nth-child(1) ul li a p { color: white; text-align: left; font-weight: bold; }

.nav .content ul li:nth-child(1) ul li a span { padding: 0px; margin: 0 2px; color: #CCCCCC; }

.nav .content ul li:nth-child(1) ul li a span:hover { border-bottom: 1px solid black; }

.nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_1, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_2, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_3, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_4, .nav .content ul li:nth-child(1) ul li:nth-child(1):hover .paizi_5 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(2):hover .paizi_2 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(3):hover .paizi_3 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(4):hover .paizi_4 { display: block; }

.nav .content ul li:nth-child(1) ul li:nth-child(5):hover .paizi_5 { display: block; }

.nav .content ul li:nth-child(1) ul li .paizi_1, .nav .content ul li:nth-child(1) ul li .paizi_2, .nav .content ul li:nth-child(1) ul li .paizi_3, .nav .content ul li:nth-child(1) ul li .paizi_4, .nav .content ul li:nth-child(1) ul li .paizi_5 { display: none; width: 710px; height: 425px; background-color: white; position: absolute; left: 202px; top: 0px; padding-left: 10px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo { width: 100%; border-bottom: 1px solid #ddd; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo p, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo p { width: 100px; float: left; text-align: center; color: #ccc; font-size: 12px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo .title, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo .title { color: tan; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo ul, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo ul { float: left; width: 600px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo ul li, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo ul li { width: 150px; height: 125px; float: left; background-color: white; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_2 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_3 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_4 .logo ul li img, .nav .content ul li:nth-child(1) ul li .paizi_5 .logo ul li img { padding-top: 20px; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_2 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_3 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_4 .tuijian .title, .nav .content ul li:nth-child(1) ul li .paizi_5 .tuijian .title { width: 100px; float: left; text-align: center; font-size: 12px; color: tan; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_2 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_3 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_4 .tuijian .span, .nav .content ul li:nth-child(1) ul li .paizi_5 .tuijian .span { width: 500px; float: left; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_2 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_3 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_4 .tuijian .span span, .nav .content ul li:nth-child(1) ul li .paizi_5 .tuijian .span span { font-size: 12px; color: #aaa; padding: 0 11px; border-right: 1px solid #aaa; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_2 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_3 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_4 .cuxiao .title, .nav .content ul li:nth-child(1) ul li .paizi_5 .cuxiao .title { width: 100px; float: left; text-align: center; font-size: 12px; color: tan; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_2 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_3 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_4 .cuxiao .span, .nav .content ul li:nth-child(1) ul li .paizi_5 .cuxiao .span { width: 500px; float: left; }

.nav .content ul li:nth-child(1) ul li .paizi_1 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_2 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_3 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_4 .cuxiao .span span, .nav .content ul li:nth-child(1) ul li .paizi_5 .cuxiao .span span { font-size: 12px; color: #aaa; padding: 0 9px; border-right: 1px solid #aaa; }

.nav .content ul li:nth-child(1) ul li .paizi_2 { top: -85px; }

.nav .content ul li:nth-child(1) ul li .paizi_3 { top: -170px; }

.nav .content ul li:nth-child(1) ul li .paizi_4 { top: -255px; }

.nav .content ul li:nth-child(1) ul li .paizi_5 { top: -340px; }

.nav .content ul li i { width: 28px; height: 30px; position: absolute; background: url(../img/meu.png); left: 45px; top: 6px; }

.nav .content ul li a { padding: 0px 20px; font-size: 13px; text-align: center; color: #666666; box-sizing: border-box; }

.nav .content ul li a span { padding: 10px 0px; }

#banner { width: 100%; height: 426px; overflow: hidden; }

#banner img { width: 1500px; height: 470px; transition: all 3s linear; }

.ship { width: 100%; border-bottom: 1px solid #E5E5E5; }

.ship ul li { width: 300px; height: 58px; float: left; text-align: center; line-height: 58px; }

.ship ul li:nth-child(1) a i:first-child { background: url(../img/jinglingtu.fw.png) 0 0; }

.ship ul li:nth-child(2) a i:first-child { background: url(../img/jinglingtu.fw.png) -59px 0; }

.ship ul li:nth-child(3) a i:first-child { background: url(../img/jinglingtu.fw.png) -118px 0; }

.ship ul li:nth-child(4) a i:first-child { background: url(../img/jinglingtu.fw.png) -177px 0; }

.ship ul li:hover a { color: #C71B17; }

.ship ul li a { color: #666666; position: relative; }

.ship ul li a i { position: absolute; left: -63px; top: -15px; display: inline-block; width: 59px; height: 47px; }

.ship ul li a .gang { left: 110px; background: url(../img/jinglingtu.fw.png) -236px 0; }

.type { width: 100%; margin-top: 28px; }

.type .content ul li { width: 294px; height: 150px; float: left; margin-right: 6px; overflow: hidden; }

.type .content ul li img { width: 297px; height: 150px; transition: all 1s linear; }

.type .content ul li img:hover { transform: scale(1.1); }

#hot, #sale, #new { width: 100%; margin-top: 50px; }

#hot .header h2, #sale .header h2, #new .header h2 { float: left; }

#hot .header h2:nth-child(2), #sale .header h2:nth-child(2), #new .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#hot .header ul, #sale .header ul, #new .header ul { float: right; }

#hot .header ul li, #sale .header ul li, #new .header ul li { float: left; margin: 0px 6px; font-size: 12px; line-height: 30px; }

#hot .header ul li:hover span, #sale .header ul li:hover span, #new .header ul li:hover span { color: #B22424; border-bottom: 1px solid #B22424; }

#hot .body, #sale .body, #new .body { width: 100%; height: 375px; margin-top: 10px; border: 1px solid #E5E5E5; }

#hot .body .xcarousel ul.fade li, #sale .body .xcarousel ul.fade li, #new .body .xcarousel ul.fade li { position: absolute; top: -10px; left: -10px; }

#hot .body .xcarousel .btn-next, #sale .body .xcarousel .btn-next, #new .body .xcarousel .btn-next { left: auto; right: 0px; }

#hot .body .xcarousel .btn-prev, #sale .body .xcarousel .btn-prev, #new .body .xcarousel .btn-prev { left: 0px; }

#hot .body .banner, #sale .body .banner, #new .body .banner { width: 400px; height: 375px; overflow: hidden; border: 1px solid #ccc; float: left; }

#hot .body .banner img, #sale .body .banner img, #new .body .banner img { width: 418px; height: 400px; transition: all 3s linear; }

#hot .body .hot_sale, #sale .body .hot_sale, #new .body .hot_sale { width: 309px; height: 375px; float: left; border: 1px solid #ccc; text-align: center; }

#hot .body .hot_sale img, #sale .body .hot_sale img, #new .body .hot_sale img { width: 240px; height: 240px; margin: 30px 0px 0px 20px; transition: all 3s; }

#hot .body .hot_sale img:hover, #sale .body .hot_sale img:hover, #new .body .hot_sale img:hover { transform: scale(1.1); }

#hot .body .hot_sale h4, #sale .body .hot_sale h4, #new .body .hot_sale h4 { margin-top: 30px; height: 30px; line-height: 30px; font-weight: normal; color: #AAAAAA; }

#hot .body .hot_sale p, #sale .body .hot_sale p, #new .body .hot_sale p { color: #B22424; font-size: 12px; }

#hot .body .tab, #sale .body .tab, #new .body .tab { float: left; width: 489px; height: 375px; border-top: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; }

#hot .body .tab li, #sale .body .tab li, #new .body .tab li { width: 243px; height: 187px; float: left; border-bottom: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; position: relative; overflow: hidden; }

#hot .body .tab li .ptxt, #sale .body .tab li .ptxt, #new .body .tab li .ptxt { position: absolute; left: 25px; top: 50px; width: 96px; text-align: center; display: inline-block; font-size: 12px; z-index: 99; }

#hot .body .tab li .ptxt h4, #sale .body .tab li .ptxt h4, #new .body .tab li .ptxt h4 { color: #AAAAAA; }

#hot .body .tab li .ptxt p, #sale .body .tab li .ptxt p, #new .body .tab li .ptxt p { color: #B22424; }

#hot .body .tab li img, #sale .body .tab li img, #new .body .tab li img { position: absolute; right: 0px; bottom: -10px; display: inline-block; width: 160px; height: 160px; transition: all 1s; }

#hot .body .tab li img:hover, #sale .body .tab li img:hover, #new .body .tab li img:hover { transform: translateY(-10px); }

#hot .foot ul, #sale .foot ul, #new .foot ul { border: 1px solid #CCCCCC; }

#hot .foot ul li, #sale .foot ul li, #new .foot ul li { width: 199px; float: left; height: 76px; position: relative; }

#hot .foot ul li:hover p, #sale .foot ul li:hover p, #new .foot ul li:hover p { display: block; }

#hot .foot ul li img, #sale .foot ul li img, #new .foot ul li img { position: absolute; left: 40px; top: 20px; }

#hot .foot ul li p, #sale .foot ul li p, #new .foot ul li p { display: none; width: 150px; height: 50px; text-align: center; line-height: 50px; border: 1px solid #B22424; border-radius: 10px; position: absolute; left: 18px; top: 16px; background-color: white; color: #B22424; }

#barand { width: 100%; margin-top: 50px; }

#barand .header h2 { float: left; height: 30px; line-height: 30px; }

#barand .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#barand .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 20px; }

#barand .header h4:hover { color: #B32424; }

#barand .body { margin-top: 10px; }

#barand .body ul li { width: 291px; float: left; margin-right: 12px; margin-bottom: 24px; }

#barand .body ul li:nth-child(4) { margin-right: 0px; }

#barand .body ul li:nth-child(8) { margin-right: 0px; }

#barand .body ul li .imgbox { width: 292px; height: 260px; overflow: hidden; }

#barand .body ul li .imgbox img { width: 292px; height: 260px; transition: all 3s; }

#barand .body ul li .imgbox img:hover { transform: scale(1.1); }

#barand .body ul li .textbox { width: 292px; background-color: #EEEEEE; color: #666666; }

#barand .body ul li .textbox img { padding-top: 20px; margin-left: 100px; }

#barand .body ul li .textbox p { margin-top: 10px; padding-bottom: 10px; font-size: 12px; font-weight: normal; text-align: center; line-height: 20px; }

#like { width: 100%; margin-top: 20px; }

#like .content .header { border-bottom: 1px solid #CCCCCC; padding-bottom: 10px; }

#like .content .header h2 { float: left; height: 30px; line-height: 30px; }

#like .content .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#like .content .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 40px; margin-top: 14px; }

#like .content .header h4:hover { color: #B32424; }

#like .content .body { padding-top: 15px; }

#like .content .body .box_l { width: 304px; float: left; }

#like .content .body .box_l ul { width: 304px; }

#like .content .body .box_l ul li { width: 152px; float: left; }

#like .content .body .box_l ul li img { height: 40px; margin: 0 auto; }

#like .content .body .box_l ul li a { display: block; width: 118px; height: 42px; line-height: 42px; text-align: center; margin: 5px auto; border-radius: 5px; border: 1px solid #999999; font-size: 13px; }

#like .content .body .box_l ul li a:hover { border: 1px solid #B32424; color: #B32424; }

#like .content .body .box_r { float: left; }

#like .content .body .box_r ul li { width: 224px; float: left; text-align: center; transition: all 1s; }

#like .content .body .box_r ul li img { width: 160px; margin: 0px auto; }

#like .content .body .box_r ul li h4 { font-size: 12px; height: 20px; line-height: 20px; margin-top: 10px; font-weight: normal; }

#like .content .body .box_r ul li p { font-size: 12px; color: #CC0000; }

#share { width: 100%; margin-top: 20px; }

#share .content .header { padding-bottom: 10px; }

#share .content .header h2 { float: left; height: 30px; line-height: 30px; }

#share .content .header h2:nth-child(2) { margin-left: 10px; font-weight: normal; color: #909090; }

#share .content .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 40px; margin-top: 14px; }

#share .content .header h4:hover { color: #B32424; }

#share .content .body { margin-top: 10px; }

#share .content .body ul li { float: left; margin-right: 10px; }

#share .content .body ul li:last-of-type { margin-right: 0px; }

#share .content .body ul li .imgbox { width: 292px; height: 260px; overflow: hidden; }

#share .content .body ul li .imgbox img { width: 292px; height: 260px; transition: all 3s; }

#share .content .body ul li .imgbox img:hover { transform: scale(1.1); }

#share .content .body ul li .txt { width: 292px; height: 60px; background-color: #EEEEEE; }

#share .content .body ul li .txt p { text-align: center; line-height: 60px; }

#zixun { width: 100%; margin-top: 20px; }

#zixun .content #shop { width: 290px; float: left; }

#zixun .content #shop .header { padding-bottom: 10px; }

#zixun .content #shop .header h2 { float: left; height: 30px; line-height: 30px; }

#zixun .content #shop .header h2:nth-child(2) { float: left; margin-left: 10px; font-weight: normal; color: #909090; }

#zixun .content #shop .body { width: 290px; border: 1px solid #CCCCCC; padding-bottom: 10px; }

#zixun .content #shop .body img { width: 290px; margin-bottom: 10px; }

#zixun .content #shop .body a { display: inline-block; width: 68px; text-align: center; height: 40px; line-height: 40px; color: #666666; font-size: 12px; }

#zixun .content #shop .body a:hover { color: #AE0E16; }

#zixun .content #shop .body a:hover span { border-bottom: 1px solid #AE0E16; }

#zixun .content #news { width: 290px; float: left; }

#zixun .content #news .header { width: 910px; padding-bottom: 10px; margin-left: 10px; border-bottom: 1px solid #ccc; }

#zixun .content #news .header h2 { float: left; height: 30px; line-height: 30px; }

#zixun .content #news .header h2:nth-child(2) { float: left; margin-left: 10px; font-weight: normal; color: #909090; }

#zixun .content #news .header h4 { float: right; font-weight: normal; font-size: 12px; margin-right: 40px; margin-top: 14px; }

#zixun .content #news .header h4:hover { color: #B32424; }

#zixun .content #news .body { width: 910px; }

#zixun .content #news .body ul { width: 291px; margin-left: 10px; float: left; }

#zixun .content #news .body ul li { margin-left: 10px; }

#zixun .content #news .body ul li:nth-child(1) { text-align: center; margin: 35px 0px; }

#zixun .content #news .body ul li:nth-child(1) a { font-size: 15px; }

#zixun .content #news .body ul li:nth-child(1) a:hover { color: #B32424; border-bottom: 0 none; }

#zixun .content #news .body ul li a { width: 291px; height: 24px; font-size: 12px; line-height: 24px; color: #909090; }

#zixun .content #news .body ul li a:hover { color: #B32424; border-bottom: 1px solid #B32424; }

#zhengpin { width: 100%; height: 60px; background-color: #AE0E16; }

#zhengpin .content ul li { float: left; width: 240px; height: 60px; text-align: center; line-height: 60px; position: relative; }

#zhengpin .content ul li:nth-child(1) i { background: url(../img/zhengpin_1.png); }

#zhengpin .content ul li:nth-child(2) i { background: url(../img/zhengpin_2.png); }

#zhengpin .content ul li:nth-child(3) i { background: url(../img/zhengpin_3.png); }

#zhengpin .content ul li:nth-child(4) i { background: url(../img/zhengpin_4.png); }

#zhengpin .content ul li:nth-child(5) i { background: url(../img/zhengpin_5.png); }

#zhengpin .content ul li a { color: white; font-size: 15px; }

#zhengpin .content ul li a i { position: absolute; left: 35px; top: 7px; display: block; width: 48px; height: 46px; }

#foot { width: 100%; padding-bottom: 50px; background-color: #EEEEEE; border-bottom: 1px solid #ccc; }

#foot .content .foot_l { float: left; width: 246px; text-align: center; }

#foot .content .foot_l h3 { margin-top: 60px; font-size: 13px; }

#foot .content .foot_l h2 { font-weight: normal; font-size: 30px; }

#foot .content .foot_l p { color: #CCCCCC; font-size: 14px; }

#foot .content .foot_l a { display: inline-block; padding: 8px; border: 1px solid #B22424; margin-top: 10px; border-radius: 5px; font-size: 13px; color: #B22424; margin-right: 5px; }

#foot .content .foot_c { float: left; width: 500px; margin-top: 60px; margin-left: 20px; }

#foot .content .foot_c ul { width: 100px; float: left; }

#foot .content .foot_c ul:last-of-type { border-right: 1px solid #ccc; }

#foot .content .foot_c ul li { font-size: 12px; height: 25px; line-height: 25px; }

#foot .content .foot_c ul li:nth-child(1) { font-weight: bold; margin-bottom: 30px; }

#foot .content .foot_c ul li a { color: #666666; }

#foot .content .foot_c ul li a:hover { color: black; }

#foot .content .foot_r { float: left; margin-top: 60px; margin-left: 20px; }

#foot .content .foot_r .foot_r1 { float: left; padding-right: 15px; margin-right: 15px; border-right: 1px solid #ccc; }

#foot .content .foot_r .foot_r2 { float: left; }

#foot .content .foot_r a { display: inline-block; padding: 5px; font-size: 12px; color: #666666; background-color: #ccc; }

#foot .content .foot_r a.active { background-color: #666666; color: white; }

#foot .content .foot_r a:nth-child(2) { margin-left: -5px; }

#foot .content .foot_r p { font-size: 12px; color: #666666; text-align: center; }

#foot .content .foot_r .imgbox { width: 90px; height: 90px; margin: 10px auto; position: relative; }

#foot .content .foot_r .imgbox img { width: 90px; height: 90px; position: absolute; left: 0px; top: 0px; }

#footbox { width: 100%; background-color: #EEEEEE; }

#footbox .content ul { width: 800px; margin: 20px auto; }

#footbox .content ul li { float: left; height: 50px; line-height: 50px; text-align: center; }

#footbox .content ul li a { color: #666666; font-size: 12px; padding: 10px; }

#footbox .content ul li a:hover { color: black; }

#footbox .content p { text-align: center; color: #666666; font-size: 12px; padding: 5px; }

#footbox .content img { width: 592px; height: 61px; margin: 0 auto; }

#footbox .content .last { width: 100%; margin: 0 auto; }

#fix_left { position: fixed; left: 0px; top: 50%; width: 30px; background-color: #ccc; transform: translate(0, -50%); display: none; }

#fix_left ul { width: 30px; }

#fix_left ul:hover { cursor: pointer; }

#fix_left ul li { width: 30px; height: 40px; padding: 8px 3px; font-size: 12px; color: #666666; border-bottom: 1px solid #8C8C8C; }

#fix_left ul li:last-of-type { border-bottom: 0 none; }
